.landing-actions-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 10cm;
}

.landing-header {
}

.landing-title {
  display: block;
  font-size: 3.5rem;
  font-weight: bold;
}

.landing-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}

.landing-actions {
  display: flex;
  justify-content: space-between;
}

.landing-actions-link {
  text-decoration: none;
}

.landing-button {
  width: 4cm;
  height: 1.2cm;
}
