/* same as p-dash */
.d-dash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vw - var(--navbar-height));
  font-size: 1.5rem;
  font-weight: bold;
}
